.dialog-content-item {
  min-width: 1.5rem;
  padding-bottom: 0.5rem;
}

.dialog-content-item.last {
  padding-bottom: 1rem;
}

.advForm {
  width: 20rem;
  overflow: hidden;
}

.mat-dialog-actions {
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.mat-dialog-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 0.5rem;
}

.mat-dialog-title .title {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}

.mat-dialog-title .mat-dialog-actions {
  min-height: 1rem;
  margin: 0;
  padding: 0;
}

button {
  height: 70%;
}

.textarea {
  margin: 0;
  height: 2rem;
  border: 1px solid #9e9e9e;
  border-radius: 0.25rem;
  width: 19rem;
  resize: none;
}

.mat-dialog-content {
  height: 17rem;
  overflow: hidden;
}
