<h2>Главная страница</h2>
<div class="content">
    <div class="avatar">
        <img src="../../assets/photo1666778353.jpeg">
    </div>
    <div>
        <p>
            Меня зовут Таня, и это мое тестовое задание для стажировки в команде JazzTeam.
            Если вдруг потерялись мои данные, вот ссылочка на резюме.
        </p>
        <a href="https://drive.google.com/file/d/1yxtMi2vDyrEYgniG4WhQiixSM9s5Mrlf/view?usp=sharing">тык сюда!</a>
        <p>
            Буду рада получить обратную связь по выполненному (или почти выполненному) заданию!
        </p>
        <p> Телефон (на всякий случай) +375296144450</p>
    </div>
</div>