<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Валюта</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef>Курс к рублю</th>
      <td mat-cell *matCellDef="let element">{{ element.rate }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (mouseenter)="showFlag(row)"
    ></tr>
  </table>
  <div
    id="magicCursor"
    [style.visibility]="isLoaded ? 'visible' : 'hidden'"
  ></div>
</div>
