<div class="topPanel">
    <div class="buttons">
        <button>Добавить</button>
        <button>Обновить</button>
    </div>
    <div class="search">
        <mat-icon class="material-symbols-outlined">search</mat-icon>
        <input type="text" placeholder="Событие, дата или участник" (keyup)="onKey($event)">
    </div>
</div>

<div class="datepicker">
    <button class="arrow" (click)="minusMonth()">
        <mat-icon class="material-icons-outlined">arrow_left</mat-icon>
    </button>
    <h3>{{ months[selectedMonth.getMonth()] }} {{ selectedMonth.getFullYear() }}</h3>
    <button class="arrow" (click)="plusMonth()">
        <mat-icon class="material-icons-outlined">arrow_right</mat-icon>
    </button>
    <button class="today" (click)="selectToday()">Сегодня</button>
</div>
<div class="calendarTable">
    <ng-container *ngFor="let day of firstWeek">
        <app-calendar-item [day]="day" [isFirstWeek]="true"></app-calendar-item>
    </ng-container>
    <ng-container *ngFor="let day of days">
        <app-calendar-item [day]="day" [isFirstWeek]="false"></app-calendar-item>
    </ng-container>
</div>

