<ng-container *ngIf="isToday">
    <div  class="gray">
        <h6 *ngIf="isFirstWeek">
            {{ week[copyDay.date.getDay()] }}, {{ copyDay.date.getDate() }}
        </h6> 
        <h6 *ngIf="!isFirstWeek"> 
            {{ copyDay.date.getDate() }}
        </h6>
        <h5 *ngIf="day.advent">
            {{ copyDay.advent }}
        </h5>
        <p *ngIf="day.participants.length">
            <ng-container *ngFor="let participant of day.participants">
                {{ participant }}
            </ng-container>
        </p>
    </div>
</ng-container>
<ng-container *ngIf="!isToday">
    <div  [ngClass]="status ? 'blue' : 'white'">
        <h6 *ngIf="isFirstWeek">
            {{ week[copyDay.date.getDay()] }}, {{ copyDay.date.getDate() }}
        </h6> 
        <h6 *ngIf="!isFirstWeek"> 
            {{ copyDay.date.getDate() }}
        </h6>
        <h5 *ngIf="day.advent">
            {{ copyDay.advent }}
        </h5>
        <p *ngIf="day.participants.length">
            <ng-container *ngFor="let participant of day.participants">
                {{ participant }}
            </ng-container>
        </p>
    </div>
</ng-container>